.password {
  display: flex;
  text-align: center;
  justify-content: center;
}

.form {
  width: 230px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.input {
  margin: 8px;
  background-color: white;
  border-radius: 4px
}

.helperText {
  color: white;
  z-index: 400;
}
