.app {
  text-align: center;
  background: url('./background.svg');
  background-repeat: no-repeat;
  height: 100vh;
}

.header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

